@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-ipad: 1024px;
$breakpoint-ipad-pro: 1366px;

$green: hsl(75, 94%, 57%);
$white: hsl(0, 0%, 100%);
$grey-700: hsl(0, 0%, 20%);
$grey-800: hsl(0, 0%, 12%);
$grey-900: hsl(0, 0%, 8%);

//spacing
$spacing-500: 4rem;
$spacing-300: 2.4rem;
$spacing-200: 1.6rem;
$spacing-150: 1.2rem;
$spacing-100: 0.8rem;
$spacing-50: 0.4rem;


@mixin respond-mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin respond-tablet {
  @media (min-width: $breakpoint-mobile + 1) and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin respond-ipad {
  @media (min-width: $breakpoint-tablet + 1) and (max-width: $breakpoint-ipad) {
    @content;
  }
}

@mixin respond-ipad-pro {
  @media only screen
  and (min-device-width: $breakpoint-ipad)
  and (max-device-width: $breakpoint-ipad-pro)
  and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin respond-ipad-pro-portrait {
  @media only screen
  and (min-device-width: $breakpoint-ipad)
  and (max-device-width: $breakpoint-ipad)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin respond-ipad-pro-landscape {
  @media only screen
  and (min-device-width: $breakpoint-ipad-pro)
  and (max-device-width: $breakpoint-ipad-pro)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}


@mixin text-preset(
  $font-size,
  $font-weight: 500,
  $letter-spacing: 0,
  $line-height: 150%
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $grey-900;
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

.link-card {
  align-items: center;
  background-color: $grey-800;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: $spacing-300;
  height: 61.1rem;
  padding: 4rem;
  max-width: 38.4rem;


  @include respond-ipad-pro {
    width: 45.6rem;
    max-width: 45.6rem;
  }

  @include respond-ipad {
    width: 45.6rem;
    max-width: 45.6rem;
  }

  @include respond-tablet {
    width: 45.6rem;
    max-width: 45.6rem;
  }

  @include respond-mobile {
    width: 32.7rem;
    max-width: 32.7rem;
    padding: 2.4rem;
    height: 57.9rem;
  }

  &__layout {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &__profile {
    &--heading {
      height: 6.1rem;
      text-align: center;
      width: 100%;

      &:last-child {
        margin-top: $spacing-50;
      }

      &--text {
        @include text-preset(2.4rem);
        color: $white;
      }

      &--sub {
        @include text-preset(1.4rem, 600);
        color: $green;
      }
    }

    &--picture {
      border-radius: 50%;
      width: 8.8rem;
      height: 8.8rem;
    }
  }

  &__navbar {
    max-width: 30.4rem;

    @include respond-ipad-pro {
      width: 37.6rem;
      max-width: 37.6rem;
    }

    @include respond-ipad {
      width: 37.6rem;
      max-width: 37.6rem;
    }

    @include respond-tablet {
      width: 37.6rem;
      max-width: 37.6rem;
    }

    @include respond-mobile {
      width: 27.9rem;
      max-width: 27.9rem;
    }
  }

  &__list {
    &--item {
      background-color: $grey-700;
      border-radius: 0.8rem;
      list-style: none;
      margin-bottom: $spacing-200;
      padding: $spacing-150;
      text-align: center;
      transition:
        background-color 0.2s ease-in,
        color 0.2s ease-in;

      width: 30.4rem;

      &:hover {
        background-color: $green;
        cursor: pointer;
      }

      &:hover &-link {
        color: $grey-700;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @include respond-ipad-pro {
        width: 37.6rem;
        max-width: 37.6rem;
      }

      @include respond-ipad {
        width: 37.6rem;
        max-width: 37.6rem;
      }

      @include respond-tablet {
        width: 37.6rem;
        max-width: 37.6rem;
      }

      @include respond-mobile {
        width: 27.9rem;
        max-width: 27.9rem;
      }

      &-link {
        @include text-preset(1.4rem, 600);
        color: $white;
        text-decoration: none;
        transition: color 0.2s ease-in;

        &:hover {
          color: $grey-700;
        }
      }
    }
  }

  &__quote {
    @include text-preset(1.4rem, 200);
    color: $white;
    font-weight: 300;
    text-align: center;
  }
}
